<!DOCTYPE html>
<html lang="zxx">
    <%-include('user_parts/head')%>
    <body>

        <%-include('user_parts/preloader')%>
        <%-include('user_parts/search_popup')%>
        <div class="body-overlay" id="body-overlay"></div>
        <%-include('user_parts/navbar')%>
        <%-body%>
        <%-include('user_parts/about')%>
        <%-include('user_parts/footer')%>
    </body>

</html>