
    <div class="pd-top-80 pd-bottom-50" id="grid">
    <div class="container">
        <div class="row">          
            <%-include('r4c1')%>
            <%-include('r4c2')%>
            <%-include('r4c3')%>
            <%-include('r4c4')%>
            <%-include('r4c5')%>
            <%-include('r4c6')%>
            <%-include('r4c7')%>
            <%-include('r4c8')%>        
        </div>
    </div>  
</div>